<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Awesome To Do List</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/app.css" rel="stylesheet">
    <!-- Phoenix CSS -->
    <link rel="stylesheet" href="/css/phoenix.css">
  </head>

  <body ng-app='kcmweb'>
    <div class="container">
      <%= @inner %>
    </div> <!-- /container -->
  </body>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/js/jquery.js" type="text/javascript"></script>
  <script src="/js/bootstrap.js" type="text/javascript"></script>
  <script src="/js/Sortable.min.js" type="text/javascript"></script>
  <script src="/js/phoenix.js" type="text/javascript"></script>
  <script src="/js/angular/angular.min.js" type="text/javascript"></script>
  <script src="/js/angular-route/angular-route.min.js" type="text/javascript"></script>
  <script src="/app/app.js" type="text/javascript"></script>
  <!--<script src="/app/app_todos.js" type="text/javascript"></script>
  <script language='javascript'>
    ToDoApp.init();
  </script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</html>
